*{
  margin:0;
  padding: 0; 
  box-sizing: border-box;
}
.container{
  width:100vw;
  display:flex;
  justify-content: space-between;
  align-items: center;
flex-direction: column;
}
.App-header{
  height:10vh;
  width:100%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: whitesmoke;
  border-bottom: 0.7px solid rgba(214, 214, 214, 0.712);
  position:sticky;
  top:0;
  left:0;
  z-index: 1;
}
.menu{
  height:100%;
  width:3%;
  display: none;
  border: none;
  outline: none;
  margin-left: 1%;
  background-color: whitesmoke;
}
.menu img{
  height:70%;
  width:60%;
}
.navbar{
  height:100%;
  width:96%;
  display: flex;
  justify-content:space-between;
  align-items: center;
  background-color: whitesmoke;
}
.navbar a{
 height:100%;
 width:15%;
 display: flex;
 justify-content: center;
 align-items: center;
 text-decoration: none;
 font-size: 17px;
 color:black;
 font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
  height:100%;
  width:15%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family:'Times New Roman', Times, serif;
  font-weight: 600;
}
.navbar1{
  height: 100%;
  width: 55%;
  display:flex;
  justify-content: space-evenly;
  align-items: center;
}
.navbar-2{
  height: 100%;
  width:30%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 50px;
}
.navbar-apply-btn{
  height:35px;
  width:90px;
  background-color: whitesmoke;
  border:1.8px solid orange;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.navbar-2-p{
  height:25px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#sign-btn{
  height:35px;
  width: 125px;
  background-color: orange;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 16px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.body{
  min-height:100vh;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: 500;
  background-color: whitesmoke;
}
.active{
  height:2%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items:first baseline;
  border-bottom: 3.5px solid black;
}
#sign-btn.active{
  border-bottom: none;
}
.page-bottom{
  height:14vh;
  width:100vw;
  background-color: black;
  color:whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 0.7px solid rgba(56, 56, 56, 0.712);
  font-size: 12px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
@media  only screen and (max-width:1200px) {
   html,body{
    width:100%;
    overflow-x: hidden;
   }  
}
 @media only screen and (max-width:600px) and (min-width:290px){
  .container{
    width:100%;
    background-color: whitesmoke;
    }
    .App-header{
      width:100%;
      height:8vh;
      position: fixed;
      top: 0;
      left: 0;
    }
    .menu{
      display: block;
      margin-left:8px;
    }
    .navbar{
      height:100%;
      width:94%;
      padding: 3px;
      border-bottom: 0.6px solid rgba(214, 214, 214, 0.712);
    }
    .menu{
      height:70%;
      width:5%;
    }
    .navbar1{
      display: none;
    }
    .body{
      margin-top: 8vh;
      min-height:80%;
      width:90%;
    }
     .logo{
      font-size: 18px;
      width:30%;
     }
     .navbar-2{
       gap:8px;
       width:50%;
       margin-left:15%;
       margin-right: 5px;
     }
     .navbar-apply-btn{
      height: 24px;
      width: 65px;
      border: 1.8px solid orange;
      border-radius: 12px;
      font-size: 10px;
      font-family: 'Poppins', sans-serif;
     }
     .navbar-2-p{
      height: 100%;
      width: 15px;
      margin-left: 5px;
      margin-right: 5px;
      font-size: 10px;
      font-family: 'Poppins', sans-serif;
     }
     #sign-btn{
      height: 24px;
      width: 130px;
      border-radius: 12px;
      font-size: 10px;
     }
     .page-bottom{
       height:14%;
       border-top: 0.6px solid rgba(56, 56, 56, 0.712);
       font-size: 7px;
       padding: 10px;
     }
} 
 @media only screen and (max-width:800px) and (min-width:600px){
  .container{
  width:100%;
  padding-top:8px;
  background-color: whitesmoke;
  }
  .menu{
    display: block;
    margin-left: 14px;
  }
  .App-header{
    width:100%;
    height:11vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .navbar{
    height:100%;
    border-bottom: 0.6px solid rgba(214, 214, 214, 0.712);
  }
  .navbar1{
    display: none;
  }
  .body{
    margin-top: 10vh;
    min-height:80%;
    width:100%;
  }
   .logo{
    font-size: 21px;
    margin-left: 15px;
   }
   .navbar-2{
     margin-right: 7px;
     gap:5px;
   }
   .navbar-apply-btn{
    height: 26px;
    width: 58px;
    border: 1.8px solid orange;
    border-radius: 16px;
    font-size: 13px;
   }
   .navbar-2-p{
    height: 100%;
    width: 48px;
    font-size: 13px;
   }
   #sign-btn{
    height: 26px;
    width: 110px;
    border-radius: 20px;
    font-size: 13px;
   }
   .page-bottom{
     height:14%;
     width:100%;
     border-top: 0.6px solid rgba(56, 56, 56, 0.712);
     font-size: 10px;
     padding: 20px;
   }
}
@media screen and (max-width:1266px) and (min-width:800px){ 
  .container{
  width:100%;
  background-color: whitesmoke;
  }
  .App-header{
    width:100%;
    height:11vh;
    position: fixed;
    top: 0;
    left: 0;
  }
  .body{
    margin-top: 11vh;
  }
  .navbar{
    height:100%;
    border-bottom: 0.5px solid rgba(214, 214, 214, 0.712);
  }
  .body{
    min-height:80%;
    width:100%;
  }
   .logo{
    font-size:23px;
    margin-left: 4px;
   }
   .navbar-2{
     margin-right: 7px;
     gap:5px;
   }
   .navbar1 a{
    font-size: 15px;
   }
   .navbar-apply-btn{
    height: 26px;
    width: 58px;
    border: 1.8px solid orange;
    border-radius: 16px;
    font-size: 15px;
   }
   .navbar-2-p{
    height: 100%;
    width: 48px;
    font-size: 15px;
   }
   #sign-btn{
    font-size: 14px;
    height:30px;
    width: 105px;
   }
   .page-bottom{
     height:14%;
     width:100%;
     border-top: 0.6px solid rgba(56, 56, 56, 0.712);
     font-size: 12px;
     padding: 15px;
   }
}